# Ignore Python virtual environments
venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore MkDocs build files
site/
*.lock

# OS-specific
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/
